@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #100c0c ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000 ;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-mono);
}
* {
  box-sizing: border-box;
}

